@import './variables.scss';

@font-face {
	font-family: 'Montserrat';
	src: url('~resources/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('~resources/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('~resources/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}