.input {
    outline: none;
    padding: 5px 5px;
    font-size: 1.1rem;
    margin-top: 10px;
    border-radius: 4px;
    width: 500px;
    min-width: 300px;
    border: 1px solid #c1c1c1;
}

.label {
    margin-right: 10px;
}

.labelWrapper {
    display: flex;
    align-items: center;
    margin-top: 15px
}

.surpriseMeButton {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #6469ff;
    transition: background-color 0.5s;
    color: #fff;
    &:hover {
		cursor: pointer;
        background-color: #25d82a;
	}
}